:root {
    --color-negro: rgba(0, 0, 0, 0.445);
    --color-blanco: #ffffff;
    --color-aguaMarina: rgb(42, 140, 153);
    --color-blacoTrans: rgb(255, 254, 254);
    --color-amarillo: rgb(196, 189, 92);
    --color-gris: grey;
    --color-transparenteAzul:  rgba(6, 106, 131, 0.3);  
}

body{
    background: url(/IMG/aliadosLogo.png);     
    background-color: var(--color-negro);
    background-position: center;
    background-repeat: no-repeat;    
    background-size: 50%;   
    
}
.login {
    background: var(--color-negro);       
    width: 28%; 
    height: 450px;   
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
}
.logoUsuario img{
    width: 35%;    
    margin-left: 33%;
    margin-top: 20px;
    
}
form {
    display: flex;
    flex-direction: column;
}
form label{    
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    color: var(--color-blanco);
}
form input{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background: var(--color-negro);
    color: var(--color-blanco);
}
.button{
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
         
}
.recuperacion{
    margin-left: 30%;      
    width: 40%;
    margin-top: 6%;
}
a {
    color: var(--color-blanco);
    text-decoration: none;    
}

    